/* Empty. Add your own CSS if you like */
.bar.bar-stable {
  border-color: #24D665 !important;
  background-color: #24D665 !important;
}

.menu {
  background-color: #3F4241;
}
/*.ion-item {
  background-color: #3F4241!important;
}*/

.sideItems {
  background-color: #3F4241!important;
  background-color: #3F4241!important;
  color: #ddd !important;
  /*font-weight: bold;*/
}

.item-complex.item-content, .item-radio.item-content {
  background-color: #3F4241!important;
/* background-color: white; */
}

i.ion-ios7-bookmarks-outline {
  font-size: 20px;
}

i.ion-ios7-gear-outline {
  font-size: 25px;
}


i.ion-android-search {
  font-size: 20px;
}


i.ion-clipboard {
  font-size: 20px;
}

i.ion-log-in {
  font-size: 20px;
}

.sideItems {
  background-color: #3F4241!important;
  color: #ddd !important;
  font-weight: bold;
}

.item-complex /*.item-radio.item-content*/ {
  background-color: #3F4241!important;
  color: #ddd !important;
  font-weight: bold;
}

.item-content {
	background-color:#3F4241!important;
	color: #ddd !important;
    font-weight: bold;
}

button.button-block.button-balanced {
  display: block;
}
